<!DOCTYPE html>
<html lang="en">

<!-- All other pages will inherit this header with -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Linking css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Linking jQuery CDN-->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Linking Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Linking Javascript -->
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/feedback.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/modals.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/lightdark.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/routing.js') }}"></script>

    <!-- Autocomplete function -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">


    <title>Loldle</title>
    <link rel="icon" href="{{ url_for('static', filename='png/loldle_logo.png') }}" type="image/icon type">
</head>

<!-- All other pages will inherit this body template -->
<body>
    <!-- Template Navbar goes here -->
    <div class="navbar">
        <div class="navleft">
            {% if current_user.is_anonymous %}
            <span onclick="login_page()">
                <i class='clickable-icon fa fa-sign-in'></i>
            </span>
            {% else %}
            <span onclick="logout_page()">
                <i class='clickable-icon fa fa-sign-out'></i>
            </span>
            {% endif %}
        </div>

        <div class="navmiddle">
            <div id="logo-box">
                <a href={{ url_for('home') }}><img id="logo" src="../static/png/loldle_logo.png" alt="LoLdle"> </a>
            </div>
        </div>
        <div class="navright">
            {% if current_user.is_anonymous %}
            <div></div>
            {% else %}
            <span onclick="stats_page()"><i class="clickable-icon fa fa-user" aria-hidden="true"></i></span>
            {% endif %}
            <span onclick="openModal('settings-modal', 'settings-close')">
                <i class="clickable-icon fa fa-cog" id="settings"></i>
            </span>
        </div>
    </div>


    <!-- The Settings Modal -->
    <div id="settings-modal" class="modal">
        <!-- Settings Content -->
        <div class="modal-content settings-content">
        <span class="close" id='settings-close'>
            <i class="clickable-icon fa fa-times-circle"></i>
        </span>
            <h2> Settings </h2>
            <div class="flex-container">
                <h4>Light Mode</h4>
                <label class="switch">
                    <input type="checkbox" id="light-switch" onclick="lightMode()">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="flex-container">
                <h4>Clear Local Storage</h4>
                <label class="switch">
                    <button class="clearBtn" id="clearBtn" onclick="clearStorage()">Clear</button>
                </label>
            </div>
        </div>
    </div>

    <!-- The Victory Modal -->
    <div id="victory-modal" class="modal">
        <!-- Analytics Content -->
        <div class="modal-content victory-content">
            <span class="close" id='victory-close'>
                <i class="clickable-icon fa fa-times-circle"></i>
            </span>
            <h2 style = "text-align: center;" id="victory-header">Victory!</h2>
            <div id="victoryScreen"></div>
            <button class="share" onclick="share()">Copy Your Results!</button>
            <button class="play-again" onclick="newGame()">Play again</button>
        </div>
    </div>

    <!-- The Victory Image -->
    <div id="victory-image" class="modal">
        <!-- Victory Content -->
        <div class="finish-screen">
            <img src="./static/png/victory.png" alt="Victory Screen" class="finish-screen" style="width: 80%;">
        </div>
    </div>

    <!-- The Defeat Image -->
    <div id="defeat-image" class="modal">
        <!-- Analytics Content -->
        <div class="finish-screen">
            <img src="./static/png/defeat.png" alt="Defeat Screen" class="finish-screen">
        </div>
    </div>

    <!-- The Defeat Modal -->
    <div id="defeat-modal" class="modal">
        <!-- Defeat Content -->
        <div class="modal-content defeat-content">
            <span class="close" id='defeat-close'>
                <i class="clickable-icon fa fa-times-circle"></i>
            </span>
            <h2 style = "text-align: center;" id ="defeat-header">Defeat!</h2>
            <div id="defeatScreen"></div>
            <button class="share" onclick="share()">Copy Your Results!</button>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>

</html>
